:root{
    --white-color: #fff;
    --black-color: #ccc;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --header-height: 120px;
    --navbar-height: 34px;
    --header__sort-bar-height: 46px;
}
*{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}
.btn{
    min-width: 124px;
    height: 34px;
    color: #666;
    background-color: #ddd;
    font-size: 1.5rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}
.btn:hover{
    background-color: #e0e0e0;

}
.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn--primary:hover{
    background-color: #F05D41;
}


.c-2-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
/* animation */
@keyframes fadeOut{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slideShow{
    from{
        opacity: 0;
        transform: scaleX(0);
    }
    to{
        opacity: 1;
        transform: scaleX(1);
    }
}